@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

@keyframes spin {
  from {
    transform: rotateY(0deg);
    /* moz-transform: rotateY(0deg); //Firefox
  ms-transform: rotateY(0deg); //Microsoft Browsers */
  }
  to {
    transform: rotateY(360deg);
    /* moz-transform: rotateY(360deg); //Firefox
  ms-transform: rotateY(360deg); //Microsoft Browsers */
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}

.about {
  position: relative;
  min-height: 300px;
  max-height: 800px;
  overflow: hidden;
  margin-bottom: 50px;
}

.title {
  font-size: 50px;
  text-align: center;
  font-family: 'Overpass', sans-serif;
}

.headshot {
  /* position: absolute; */
  max-width: 15%;
}

.headshot:hover {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  -webkit-animation-name: spin;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
}

.about h3 {
  font-family: 'Overpass', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* h3:hover {
  color: #0e3386;
} */

.social-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
  padding-bottom: 15px;
  text-decoration: none;
}

.social-links i {
  color: black;
  font-size: 5.5em;
  padding: 8px;
  text-decoration: none;
}

/* i:hover {
  color: #0e3386;
  text-decoration: none;
} */

/* i:before,
i:after {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  z-index: -1;
} */

i:hover:before,
i:hover:after {
  color: #0e3386;
  border-color: transparent;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-transform: scale(4);
  transform: scale(4);
  -webkit-transition: 2100ms blur ease, 900ms border-color ease,
    1000ms -webkit-transform ease;
  transition: 2100ms blur ease, 900ms border-color ease,
    1000ms -webkit-transform ease;
  transition: 1000ms transform ease, 2100ms blur ease, 900ms border-color ease;
  transition: 1000ms transform ease, 2100ms blur ease, 900ms border-color ease,
    1000ms -webkit-transform ease;
}
i:hover:after {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

.link {
  margin: 0;
  color: black;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}
