@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

.about {
  position: relative;
  min-height: 300px;
  max-height: 800px;
  overflow: hidden;
  margin-bottom: 300px;
}

.title {
  font-size: 50px;
  text-align: center;
  font-family: 'Overpass', sans-serif;
}

img {
  max-width: 15%;
}

img:hover {
  max-width: 17%;
}
